nav {
  opacity: 0.90;
  a.nav-link {
    font-size: 1.5rem;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

#head-photo {
  position: relative;
  background-image: url("/imgs/j_wall_dusk.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.down-arrow {
  content: '';
  width: 4rem;
  height: 4rem;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  align-self: center;
  margin-top: 100px;
}

#newsletter-btn,#newsletter-input {
  background: transparent;
  border-radius: 0;
  height: 100%;
  border: solid 1px $light;
  padding: 1em
}

#newsletter-btn {
  position: relative;
  border-left: 0;
  &:hover {
    cursor: pointer;
    &::after {
      border-right: 2px solid $light;
      border-bottom: 2px solid $light;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 35%;
    left: 25%;
    width: 1rem;
    height: 1rem;
    border-right: 1px solid $light;
    border-bottom: 1px solid $light;
    transform: rotate(-45deg);
  }
}

#newsletter-input {
  border-right: 0;
  color: $light;
  &:focus {
    box-shadow: none;
  }
}

.feature-trip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin-bottom: 2px;
  &:last-child {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 3em;
  }
}

#taste-of-trip {
  background-image: url("/imgs/olives_oil.jpg");;
  background-size: cover;
  background-position: 0 85%;
}

#religious-trip {
  background-image: url("/imgs/dome_of_rock.jpg");
  background-size: cover;
  background-position: 0 51%;
}

#historical-trip {
  background-image: url("/imgs/camels.jpg");
  background-size: cover;
  background-position: 0 57%;
}

.img-fade {
  position: relative;
  img {
    opacity: 1;
    transition: ease 0.5s;
  }
  &:hover {
    cursor: pointer;
    img {
      opacity: 0.3;
    }
    .img-fade-overlay {
      opacity: 1;
    }
  }
  .img-fade-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: ease 0.5s;
  }
}

.head-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  background-size: cover;
}

#contact-head-photo {
  background-image: url("/imgs/jaffa_seawall.jpg");
  background-position: center;
}

#services-head-photo {
  background-image: url("/imgs/Il_landscape.jpg");
  background-position: center;
}
